* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
.python-version text eol=lf
uv.lock text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.ini text eol=lf
*.example text eol=lf
*.ps1 text eol=crlf
